<ion-header>
  <ion-toolbar>
    <ion-buttons slot = "start">
      <ion button (click) = "openSideMenu()">Open</ion>
    </ion-buttons>
    <ion-title>Discover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">

  <ion-grid>

    <ion-row>
      <ion-col size = "12" size-sm = "8" offset-sm = "2" text-center>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{lugaresCargados[0].titulo}}</ion-card-title>
            <ion-card-subtitle>{{lugaresCargados[0].precio | currency}} / por noche</ion-card-subtitle>
          </ion-card-header>
          <ion-img [src] = "lugaresCargados[0].imageUrl"></ion-img>
          <ion-card-content>
              <p>{{lugaresCargados[0].descripcion}}</p>
          </ion-card-content>
          <div class="ion-text-right">
            <ion-button fill = "clear" color = "primary" [routerLink] = "['/', 'lugares', 'tabs', 'busqueda', lugaresCargados[0].id]">Mas</ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size = "12" size-sm = "8" offset-sm = "2" text-center>
        <ion-list>
          <ion-item *ngFor = "let lugar of lugaresCargados.slice(1)" [routerLink] = "['/', 'lugares', 'tabs', 'busqueda', lugar.id]" detail>
            <ion-thumbnail slot = "start">
              <ion-img [src] = "lugar.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{lugar.titulo}}</h2>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
